.burger-btn{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: black;
}

.burger-btn span {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: black;
}

.burger-btn::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 20px;
    height: 2px;
    background-color: black;
}