@media screen and (max-width: 768px){
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 96px;
        left: 0;
        transform: translate(-100%);
        transition: transform 0.2s;
        }
    
        .menu.active {
            transform: translate(0);
        }
    
        .menu__content {
            width: 100%;
            height: 100%;
            color: wheat;
            background-color: black;
            transition: transform 0.4s;
        }
    
        .menu__header {
            color: white;
        }
}