.form {
  background-color: #fff;
}

.radioBox {
  display: block;
  gap: 30px;
  flex-wrap: wrap;
}

.customRadioIcon {
  position: relative;
  display: block;

}

.customRadioIcon input[type="radio"]:checked + .icon {
  color: red; 
}

.customBackground {
  border-radius: 25%; 
  box-sizing: border-box;
  border: 1px solid transparent;
}

.customRadioBackground input[type="radio"]:checked + .customBackground {
  border: 1px solid #BEDBB0;
}

.img {
  display: block;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
