.radioBox {
  display: flex;
  gap: 30px;
}

.customRadioIcon {
  position: relative;
  display: block;
}

.customRadioIcon input[type="radio"]:checked + .icon {
  color: red; 
}

.customBackground {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.customRadioBackground input[type="radio"]:checked + .customBackground {
 border: 2px solid black;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
